@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-100 text-slate-900;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

/* Скролл в чате чуть аккуратнее */
.chat-scroll::-webkit-scrollbar {
  width: 6px;
}
.chat-scroll::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full;
}
.chat-scroll::-webkit-scrollbar-track {
  @apply bg-transparent;
}
